<html>

<table width="100%" >
    <tbody>
        <tr>
            <td class="tableheading" style="width: 33%;">Territory</td>
            <td class="tableheading" style="width: 33%;">Currency code (ISO 4217)</td>
            <td class="tableheading" style="width: 34%;">Currency name</td>
        </tr>
        <h1>LIST OF CURRENCY CODES E.G /api/v1/gbp-eur</h1>
        <tr>
            <td>Albania</td>
            <td>ALL</td>
            <td>lek</td>
        </tr>
        <tr>
            <td>Algeria</td>
            <td>DZD</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Angola</td>
            <td>AOA</td>
            <td>kwanza</td>
        </tr>
        <tr>
            <td>Argentina</td>
            <td>ARS</td>
            <td>peso</td>
        </tr>
        <tr>
            <td>Armenia</td>
            <td>AMD</td>
            <td>dram</td>
        </tr>
        <tr>
            <td>Australia</td>
            <td>AUD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Austria</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Azerbaijan</td>
            <td>AZN</td>
            <td>manat</td>
        </tr>
        <tr>
            <td>Bahrain</td>
            <td>BHD</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Barbados</td>
            <td>BBD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Belarus</td>
            <td>BYN</td>
            <td>rouble</td>
        </tr>
        <tr>
            <td>Belgium</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Bermuda</td>
            <td>BMD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>BOB</td>
            <td>boliviano</td>
        </tr>
        <tr>
            <td>Bosnia and Herzegovina</td>
            <td>BAM</td>
            <td>konvertibilna marka</td>
        </tr>
        <tr>
            <td>Botswana</td>
            <td>BWP</td>
            <td>pula</td>
        </tr>
        <tr>
            <td>Brazil</td>
            <td>BRL</td>
            <td>real</td>
        </tr>
        <tr>
            <td>Bulgaria</td>
            <td>BGN</td>
            <td>lev</td>
        </tr>
        <tr>
            <td>Cabo Verde</td>
            <td>CVE</td>
            <td>escudo</td>
        </tr>
        <tr>
            <td>Cambodia</td>
            <td>KHR</td>
            <td>riel</td>
        </tr>
        <tr>
            <td>Cameroon, Republic of</td>
            <td>XAF</td>
            <td>CFA franc BEAC</td>
        </tr>
        <tr>
            <td>Canada</td>
            <td>CAD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Cayman Islands</td>
            <td>KYD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Chad</td>
            <td>XAF</td>
            <td>CFA franc BEAC</td>
        </tr>
        <tr>
            <td>Chile</td>
            <td>CLP</td>
            <td>peso</td>
        </tr>
        <tr>
            <td>China, People’s Republic of</td>
            <td>CNY</td>
            <td>yuan</td>
        </tr>
        <tr>
            <td>Colombia</td>
            <td>COP</td>
            <td>peso</td>
        </tr>
        <tr>
            <td>Congo, Democratic Republic of the</td>
            <td>CDF</td>
            <td>franc</td>
        </tr>
        <tr>
            <td>Congo, Republic of</td>
            <td>XAF</td>
            <td>CFA franc BEAC</td>
        </tr>
        <tr>
            <td>Costa Rica</td>
            <td>CRC</td>
            <td>colon</td>
        </tr>
        <tr>
            <td>Croatia</td>
            <td>HRK</td>
            <td>kuna</td>
        </tr>
        <tr>
            <td>Cyprus</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Czech Republic</td>
            <td>CZK</td>
            <td>koruna</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>DKK</td>
            <td>kroner</td>
        </tr>
        <tr>
            <td>Dominican Republic</td>
            <td>DOP</td>
            <td>peso</td>
        </tr>
        <tr>
            <td>Ecuador</td>
            <td>USD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Egypt</td>
            <td>EGP</td>
            <td>pound</td>
        </tr>
        <tr>
            <td>El Salvador</td>
            <td>USD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Equatorial Guinea</td>
            <td>XAF</td>
            <td>CFA franc BEAC</td>
        </tr>
        <tr>
            <td>Estonia</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Ethiopia</td>
            <td>ETB</td>
            <td>birr</td>
        </tr>
        <tr>
            <td>Fiji</td>
            <td>FJD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>France</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Gabon</td>
            <td>XAF</td>
            <td>CFA franc BEAC</td>
        </tr>
        <tr>
            <td>Georgia</td>
            <td>GEL</td>
            <td>lari</td>
        </tr>
        <tr>
            <td>Germany</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Ghana</td>
            <td>GHS</td>
            <td>cedi</td>
        </tr>
        <tr>
            <td>Gibraltar</td>
            <td>GIP</td>
            <td>pound</td>
        </tr>
        <tr>
            <td>Greece</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Greenland</td>
            <td>DKK</td>
            <td>Danish krone</td>
        </tr>
        <tr>
            <td>Guatemala</td>
            <td>GTQ</td>
            <td>quetzal</td>
        </tr>
        <tr>
            <td>Guernsey, Channel Islands</td>
            <td>GBP</td>
            <td>British pound sterling</td>
        </tr>
        <tr>
            <td>Guyana</td>
            <td>GYD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Honduras</td>
            <td>HNL</td>
            <td>lempira</td>
        </tr>
        <tr>
            <td>Hong Kong SAR</td>
            <td>HKD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Hungary</td>
            <td>HUF</td>
            <td>forint</td>
        </tr>
        <tr>
            <td>Iceland</td>
            <td>ISK</td>
            <td>krona</td>
        </tr>
        <tr>
            <td>India</td>
            <td>INR</td>
            <td>rupee</td>
        </tr>
        <tr>
            <td>Indonesia</td>
            <td>IDR</td>
            <td>rupiah</td>
        </tr>
        <tr>
            <td>Iraq</td>
            <td>IQD</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Ireland</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Isle of Man</td>
            <td>IMP</td>
            <td>pound</td>
        </tr>
        <tr>
            <td>Israel</td>
            <td>ILS</td>
            <td>shekel</td>
        </tr>
        <tr>
            <td>Italy</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Ivory Coast (Cote d'Ivoire)</td>
            <td>XOF</td>
            <td>CFA franc BCEAO</td>
        </tr>
        <tr>
            <td>Jamaica</td>
            <td>JMD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Japan</td>
            <td>JPY</td>
            <td>yen</td>
        </tr>
        <tr>
            <td>Jersey, Channel Islands</td>
            <td>GBP</td>
            <td>British pound sterling</td>
        </tr>
        <tr>
            <td>Jordan</td>
            <td>JOD</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Kazakhstan</td>
            <td>KZT</td>
            <td>tenge</td>
        </tr>
        <tr>
            <td>Kenya</td>
            <td>KES</td>
            <td>shilling</td>
        </tr>
        <tr>
            <td>Korea, Republic of</td>
            <td>KRW</td>
            <td>won</td>
        </tr>
        <tr>
            <td>Kosovo</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Kuwait</td>
            <td>KWD</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Kyrgyzstan</td>
            <td>KGS</td>
            <td>som</td>
        </tr>
        <tr>
            <td>Lao PDR</td>
            <td>LAK</td>
            <td>kip</td>
        </tr>
        <tr>
            <td>Latvia</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Lebanon</td>
            <td>LBP</td>
            <td>pound</td>
        </tr>
        <tr>
            <td>Libya</td>
            <td>LYD</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Liechtenstein</td>
            <td>CHF</td>
            <td>franc</td>
        </tr>
        <tr>
            <td>Lithuania</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Luxembourg</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Macau SAR</td>
            <td>MOP</td>
            <td>pataca</td>
        </tr>
        <tr>
            <td>Madagascar</td>
            <td>MGA</td>
            <td>ariary</td>
        </tr>
        <tr>
            <td>Malawi</td>
            <td>MWK</td>
            <td>kwacha</td>
        </tr>
        <tr>
            <td>Malaysia</td>
            <td>MYR</td>
            <td>ringgit</td>
        </tr>
        <tr>
            <td>Maldives, Republic of</td>
            <td>MVR</td>
            <td>rufiyaa</td>
        </tr>
        <tr>
            <td>Malta</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Mauritania</td>
            <td>MRU</td>
            <td>ouguiya</td>
        </tr>
        <tr>
            <td>Mauritius</td>
            <td>MUR</td>
            <td>rupee</td>
        </tr>
        <tr>
            <td>Mexico</td>
            <td>MXN</td>
            <td>peso</td>
        </tr>
        <tr>
            <td>Moldova</td>
            <td>MDL</td>
            <td>leu</td>
        </tr>
        <tr>
            <td>Mongolia</td>
            <td>MNT</td>
            <td>tugrik</td>
        </tr>
        <tr>
            <td>Montenegro</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Morocco</td>
            <td>MAD</td>
            <td>dirham</td>
        </tr>
        <tr>
            <td>Mozambique</td>
            <td>MZN</td>
            <td>metical</td>
        </tr>
        <tr>
            <td>Myanmar</td>
            <td>MMK</td>
            <td>kyat</td>
        </tr>
        <tr>
            <td>Namibia, Republic of</td>
            <td>NAD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Netherlands</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>New Caledonia</td>
            <td>XPF</td>
            <td>CFP franc</td>
        </tr>
        <tr>
            <td>New Zealand</td>
            <td>NZD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Nicaragua</td>
            <td>NIO</td>
            <td>cordoba oro</td>
        </tr>
        <tr>
            <td>Nigeria</td>
            <td>NGN</td>
            <td>naira</td>
        </tr>
        <tr>
            <td>North Macedonia</td>
            <td>MKD</td>
            <td>denar</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>NOK</td>
            <td>kroner</td>
        </tr>
        <tr>
            <td>Oman</td>
            <td>OMR</td>
            <td>rial</td>
        </tr>
        <tr>
            <td>Pakistan</td>
            <td>PKR</td>
            <td>rupee</td>
        </tr>
        <tr>
            <td>Palestinian territories</td>
            <td>ILS, USD, and JOD</td>
            <td>shekel, dollar, and dinar</td>
        </tr>
        <tr>
            <td>Panama</td>
            <td>PAB&nbsp; and USD</td>
            <td>balboa&nbsp; and dollar</td>
        </tr>
        <tr>
            <td>Papua New Guinea</td>
            <td>PGK</td>
            <td>kina</td>
        </tr>
        <tr>
            <td>Paraguay</td>
            <td>PYG</td>
            <td>guarani</td>
        </tr>
        <tr>
            <td>Peru</td>
            <td>PEN</td>
            <td>nuevo sol</td>
        </tr>
        <tr>
            <td>Philippines</td>
            <td>PHP</td>
            <td>peso</td>
        </tr>
        <tr>
            <td>Poland</td>
            <td>PLN</td>
            <td>zloty</td>
        </tr>
        <tr>
            <td>Portugal</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Puerto Rico</td>
            <td>USD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Qatar</td>
            <td>QAR</td>
            <td>riyal</td>
        </tr>
        <tr>
            <td>Romania</td>
            <td>RON</td>
            <td>leu</td>
        </tr>
        <tr>
            <td>Russian Federation</td>
            <td>RUB</td>
            <td>ruble</td>
        </tr>
        <tr>
            <td>Rwanda</td>
            <td>RWF</td>
            <td>franc</td>
        </tr>
        <tr>
            <td>Saint Lucia</td>
            <td>XCD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Saudi Arabia</td>
            <td>SAR</td>
            <td>riyal</td>
        </tr>
        <tr>
            <td>Senegal</td>
            <td>XOF</td>
            <td>CFA franc BCEAO</td>
        </tr>
        <tr>
            <td>Serbia</td>
            <td>RSD</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Singapore</td>
            <td>SGD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Slovak Republic</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Slovenia</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>South Africa</td>
            <td>ZAR</td>
            <td>rand</td>
        </tr>
        <tr>
            <td>Spain</td>
            <td>EUR</td>
            <td>euro</td>
        </tr>
        <tr>
            <td>Sri Lanka</td>
            <td>LKR</td>
            <td>rupee</td>
        </tr>
        <tr>
            <td>Swaziland</td>
            <td>SZL</td>
            <td>lilangeni</td>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>SEK</td>
            <td>krona</td>
        </tr>
        <tr>
            <td>Switzerland</td>
            <td>CHF</td>
            <td>franc</td>
        </tr>
        <tr>
            <td>Taiwan</td>
            <td>TWD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Tajikistan</td>
            <td>TJS</td>
            <td>somoni</td>
        </tr>
        <tr>
            <td>Tanzania</td>
            <td>TZS</td>
            <td>shilling</td>
        </tr>
        <tr>
            <td>Thailand</td>
            <td>THB</td>
            <td>baht</td>
        </tr>
        <tr>
            <td>Timor-Leste</td>
            <td>USD</td>
            <td>US dollar</td>
        </tr>
        <tr>
            <td>Trinidad And Tobago</td>
            <td>TTD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Tunisia</td>
            <td>TND</td>
            <td>dinar</td>
        </tr>
        <tr>
            <td>Turkey</td>
            <td>TRY</td>
            <td>lira</td>
        </tr>
        <tr>
            <td>Turkmenistan</td>
            <td>TMT</td>
            <td>manat</td>
        </tr>
        <tr>
            <td>Uganda</td>
            <td>UGX</td>
            <td>shilling</td>
        </tr>
        <tr>
            <td>Ukraine</td>
            <td>UAH</td>
            <td>hryvnia</td>
        </tr>
        <tr>
            <td>United Arab Emirates</td>
            <td>AED</td>
            <td>dirham</td>
        </tr>
        <tr>
            <td>United Kingdom</td>
            <td>GBP</td>
            <td>sterling</td>
        </tr>
        <tr>
            <td>United States</td>
            <td>USD</td>
            <td>dollar</td>
        </tr>
        <tr>
            <td>Uruguay</td>
            <td>UYU</td>
            <td>peso</td>
        </tr>
        <tr>
            <td>Uzbekistan, Republic of</td>
            <td>UZS</td>
            <td>soum</td>
        </tr>
        <tr>
            <td>Venezuela</td>
            <td>VEF</td>
            <td>bolivar</td>
        </tr>
        <tr>
            <td>Vietnam</td>
            <td>VND</td>
            <td>dong</td>
        </tr>
        <tr>
            <td>Zambia</td>
            <td>ZMW</td>
            <td>kwacha</td>
        </tr>
        <tr>
            <td>Zimbabwe</td>
            <td>ZWD</td>
            <td>dollar</td>
        </tr>
    </tbody>
</table>
</html>  